@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
	font-family: 'Raleway', sans-serif;
	--white: #FFFFFF;
	--gray: #b0adad;
	--secondary: #609EA2;
	--primary: #C92C6D;
	--black-1: #343333;
	--black-2: #0B0B0B;
	--black-3: #0F0F0F;
	--header-height: 3.4rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    font-family: var(--font-family);
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
    font-family: var(--font-family);
}

.wrapper {
    display: grid;
    grid-template-columns: 315px 3fr;
    grid-template-areas: 
    'aside main';
	height: 100%;
}

header {
	grid-area: header;
	display: none;
}

aside {
	grid-area: aside;
	background-color: var(--black-1);
	color: var(--white);
}

main {
	grid-area: main;
	background-color: var(--black-3);
}

.padding-left-small {
	padding-left: 0.25rem;
}

.bold {
	font-weight: 700;
}

.primary-container {
    flex: 4;
    padding: 2rem;
    background-color: var(--black-1);
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.primary-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 20%;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

.primary-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 20%;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}

.align-text-left {
	text-align: left;
}

.secondary-container {
    flex: 1;
    padding: 2rem;
    background-color: var(--black-1);
    position: relative;
}

.secondary-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 20%;
    border-top: 2px solid var(--secondary);
    border-left: 2px solid var(--secondary);
}
  
.secondary-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 20%;
    border-bottom: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
}

.mg-top {
    margin-top: 3rem;
}

@media (max-width: 834px) {

	.wrapper {
		grid-template-rows: auto 1fr;
        grid-template-areas: 
        'header header'
        'main main'
        ;
    }

	header {
		display: block;
	}

    aside {
        position: fixed;
        left: 0;
        top: calc(var(--header-height));
        height: 100vh;
        z-index: 100;
        overflow: hidden;
    }

	main {
		padding-top: calc(3rem + var(--header-height));
	}
}

