.filters-container {
    margin-top: 2rem;
    padding-bottom: 1rem;
}


.filters-container ul {
    display: flex;
    gap: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    overflow-x: auto;
    color: var(--gray);
}

.filters-container ul::-webkit-scrollbar {
    display: none;
}

.filters-container ul li:first-child {
    margin-left: auto;
}

.filters-container ul li:last-child {
    margin-right: auto;
}

.filters-container ul li {
    transition: transform 0.2s;
    line-height: 24px;
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.filters-container ul li.active-link {
    color: var(--primary);
}


.filters-container ul li:hover {
   color: var(--primary);
   cursor: pointer;
   transform: scale(1.1);
}