.hobbies-img-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.img-container {
    max-width: 200px;
}

.img-container img {
    width: 100%;
}


@media (max-width: 834px) {

    .hobbies-container  {
        flex-basis: 100%;
    }

} 